---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
<!--     {% assign words = post.content | number_of_words %}
    {{ words | divided_by:180 }} mins -->
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <br> {% include read_time.html %}

      <div class="entry">
        <!-- {{ post.content | markdownify | strip_html | truncatewords: 50 }} -->
        {{ post.content | strip_html | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>