---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
<!--     {% assign words = post.content | number_of_words %}
    {{ words | divided_by:180 }} mins -->
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        <!-- {{ post.content | markdownify | strip_html | truncatewords: 50 }} -->
        {{ post.content | strip_html | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>

	  <div class="date">
	    {{ post.page.date | date: "%B %e, %Y" }}
	  </div>

		<!-- <span class="reading-time" title="Estimated read time"> -->
		  {% assign words = post.content | number_of_words %}
		  {% if words < 360 %}
		    <p class="reading-time">1 minute read</p>
		  {% else %}
		    <p class="reading-time">{{ words | divided_by:180 }} minutes read</p>
		  {% endif %}
		<!-- </span> -->

    </article>
  {% endfor %}
</div>