<a id="expand_comments" href="#" onclick="
document.getElementById('disqus_thread').style.display = 'block';
document.getElementById('expand_comments').style.display = 'none';
document.getElementById('collapse_comments').style.display = 'block';">Show comments ()</a>
<a style="display:none;" id="collapse_comments" href="#" onclick="
document.getElementById('disqus_thread').style.display = 'none';
document.getElementById('expand_comments').style.display = 'block';
document.getElementById('collapse_comments').style.display = 'none';">Hide comments</a>

{% if site.disqus %}
<div class="comments">
<div id="disqus_thread" style="display:none;"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    var url = '{{ window.location.href }}';
    var identifier = '{{ window.location.pathname }}';

    var disqus_config = function () {
    // this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    // this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    this.page.url = url;  // Replace PAGE_URL with your page's canonical URL variable
  	this.page.identifier = identifier; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
	var disqus_shortname = '{{ site.disqus }}';
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://'+disqus_shortname+'.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<div class="comments">
{% endif %}